.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap:20px;
}
.box{
    background-color: #ddd;
}
.box:nth-of-type(even){
    background-color: rgb(62, 61, 61);
}

.four{
    /* grid-column:1/4; */
    grid-column-start: 1;
    grid-column:span 3;

    display:grid;
    padding:10px;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
    /* outline:10px solid red; */
}
.four > * {
    padding:20px;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
}