.container{
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
}
.box{
    min-height:100px;
    background-color: indianred;
}
.box:nth-of-type(odd){
    background-color: indigo;
}