/* body{
    height: 80vh;
    background-image: url('./assets/images/sbg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
} */

div{
    border:20px solid rgba(225,0,0,0.1);
    height:100px;
    padding:40px;
    overflow: scroll;
    /* background-color:rgba(0,0,225,0.1);
    background-image: url('./assets/images/sbg.png');
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-position: top right;
    background-origin:content-box; */
    background:rgba(0,0,225,0.1) url('./assets/images/sbg.png') no-repeat scroll top right content-box;
}