body{
    height:250vh;
}
.wrapper{
    width:400px;
    height:400px;
    border:1px solid red;
    position: sticky;
    top:0;
}
.box{
    width:150px;
    height:150px;
    
    position:absolute;
}
.a{
    background-color: red;
    z-index: 1000;
}
.b{
    background-color: blue;

}
